<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>electangular.js</title>
</head>
<body>

<div ng-controller="MainController">
    <!-- work goes here -->
    <form role="form">
        <label for="title">Title:</label>
        <input name="title" ng-model="msg.title" type="text"/>
        <label for="message">Message:</label>
        <input name="message" ng-model="msg.message" type="text"/>
        <button ng-click="showMessageBox(msg)" role="submit">Good Time Clicker</button>
    </form>

    <div>
        <button ng-click="showOpenDialog()" role="button">Open File</button>
    </div>

    <div>
        <button ng-click="showSaveDialog()" role="button">Save File</button>
    </div>

    <div>
        <button ng-click="doSomething()" role="button">Do It!</button>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js" type="text/javascript"></script>
<script src="../electangular.js" type="text/javascript"></script>
<script src="./app.js" type="text/javascript"></script>
</body>
</html>